.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--type-first);
}

.container-grid {
  width: 76rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.item {
  position: relative; 
  display: block; 
  overflow: hidden; 
  border-radius: 0.5rem; 
  cursor: pointer;
}

.item img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease; 
}

.overlay {
  font-size: 1.8rem;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white;
  padding: 1rem; 
  border-radius: 0.5rem; 
  opacity: 0;
  transition: opacity 0.3s ease; 
  text-align: center; 

  display: flex;
  align-items: center;
  gap: .5rem;
}

.overlay p {
  font-weight: 100;
}

.item:hover img {
  filter: brightness(50%); 
}

.item:hover .overlay {
  opacity: 1; 
}
