.container {
    width: 76rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.input {
    height: 6rem;
    width: 85%;
    border-radius: .5rem;
    border: 1px solid #eee;
    background-color: #eee;
    transition: 0.1 ease;
    padding: 1rem;
    font-size: 1.6rem;
    color: #333;
}

.input:hover,
.input:focus {
    border-radius: .5rem;
    outline: none;
    border-color: #fb1;
    background: #fff;
    box-shadow: 0 0 0 3px #fea;
}

.button {
    width: 8rem;
    border: none;
    border: 1px solid #fb1;
    background-color: #fb1;
    border-radius: .5rem;
    height: 6rem;
    transition: ease .2s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    opacity: .5r;
}