.container {
    width: 76rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.input {
    height: 6rem;
    width: 90%;
    border-radius: .5rem;
    border: 1px solid #eee;
    background-color: #eee;
    transition: 0.1 ease;
    padding: 1rem;
    font-size: 1.6rem;
    color: #333;
}


.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button:hover svg
{
  fill: #fb1;
}

.button:hover {
    transform: scale(1.1);
    opacity: .5r;
}