:root{
  font-size: 62.5%;
  --type-first : Helvetica, Arial, sans-serif;
  --type-second : var(--type-second-spectral), 'Georgia'
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.title {
  font-family: var(--type-second-spectral);
  position: relative;
  z-index: 1;
}

.title:after {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background: #fb1;
  position: absolute;
  bottom: 24px;
  left : -2px;
  border-radius: .2rem;
  z-index: -1;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


.main {
  padding: 4rem 0;
}