.buttonDelete {
  background: #ddd;
  padding: .3rem .6rem;
  width: 8rem;
  height: 3rem;
  line-height: 1;
  border: 1px solid transparent;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: .4rem;
  transition: .1s;
}