.container{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  border-bottom: 1px solid rgb(184, 184, 184);
  font-family: var(--type-first);
}

.containerActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}