.footer {
  background: #fb1;
  height: 16rem;
  display: flex; 
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 1.8rem;
  color: #333;
  font-family: var(--type-first);
  font-weight: lighter;
}