.containerMain {
  margin: 0 auto;
  width: 76rem;
  min-height: 100vh;

}

.containerForm{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top:4rem;

}


.inputContainer {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputContainer input {
  height: 4.4rem;
  border-radius: .5rem;
  border: #eee;
  background-color: #eee;
}

.inputContainer label {
  font-size: 2rem;
  color: #333;
}

.button {
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: .4rem;
  background: #fb1;
  color: #764701;
  width: 12rem;
  min-height: 4rem;
  padding: .8rem 1.2rem;
  transition: .1s;
}
