.containerMain {
  margin: 0 auto;
  width: 76rem;
  min-height: 100vh;
}

.p {
  font-size: 2rem;
  margin: 4rem 0 1rem 0;
}

.button {
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border-radius: .4rem;
    background: #fb1;
    color: #666;
    min-width: 8rem;
    padding: .8rem 1.2rem;
    box-sizing: border-box;
    transition: .1s;
}