.container {
  width: 76rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h2 {
  font-size: 5rem;
  color: #333;
  font-family:  var(--type-second-spectral);
}

.containerMain {
  width: 100vw;
  display: flex;
  justify-content: center;
}


.container button {
  width: 40px;
  height: 40px;
  background-color: #EEEEEE;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.containerButtons {
  display: flex;
  gap : 1rem;
}

